name: Build Documentation

on:
  push:
    branches:
      - develop

jobs:

  build:

    runs-on: ubuntu-latest

    env:
      REPO: lifflander1/checkpoint
      ARCH: amd64
      UBUNTU: 20.04
      COMPILER_TYPE: gnu
      COMPILER: gcc-5
      BUILD_TYPE: release
      ULIMIT_CORE: 0
      TOKEN: ${{ secrets.GH_PAT }}

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker-compose run ubuntu-docs
